body {
  font-size: 100%;
  --line-color: CornflowerBlue;
  --text-color: Black;
  --a5-width: 148mm;
  --a5-height: 210mm;
  --a4-width: 210mm;
  --a4-height: 297mm;
}

@page {
  margin: 0mm;
}

#print {
  display: flex;
  flex-direction: row;
}

@media print {
  #screen {
    display: none;
  }
}

#options {
  float: right;
}

/* -------------------- osztaly1 -------------------- */

.osztaly1 {
  --font-size: 12mm;
  --background-line-char: ;
  --background-bottom-line-char:_;
  --top-margin: 30mm;
  --right-margin: 13mm;
  --left-margin: 12mm;
}

.osztaly1 .pageA5 {
  --number-of-rows: 14;
  --number-of-columns: 20;
}

.osztaly1 .pageA4 {
  --number-of-rows: 21;
  --number-of-columns: 28;
}

.osztaly1 .pageA4-landscape {
  --number-of-rows: 14;
  --number-of-columns: 39;
}

/* -------------------- osztaly2 -------------------- */

.osztaly2 {
  --font-size: 10mm;
  --background-line-char: ;
  --background-bottom-line-char:_;
  --top-margin: 30mm;
  --right-margin: 13mm;
  --left-margin: 12mm;
}

.osztaly2 .pageA5 {
  --number-of-rows: 16;
  --number-of-columns: 23;
}

.osztaly2 .pageA4 {
  --number-of-rows: 25;
  --number-of-columns: 33;
}

.osztaly2 .pageA4-landscape {
  --number-of-rows: 16;
  --number-of-columns: 46;
}

/* -------------------- osztaly3 -------------------- */

.osztaly3 {
  --font-size: 10mm;
  --background-line-char:~;
  --background-bottom-line-char:~;
  --top-margin: 23mm;
  --right-margin: 13mm;
  --left-margin: 12mm;
  --top-border: 1mm double var(--line-color);
}

.osztaly3 .pageA5 {
  --number-of-rows: 17;
  --number-of-columns: 23;
}

.osztaly3 .pageA4 {
  --number-of-rows: 26;
  --number-of-columns: 33;
}

.osztaly3 .pageA4-landscape {
  --number-of-rows: 17;
  --number-of-columns: 46;
}

/* -------------------- osztaly4 -------------------- */

.osztaly4 {
  --font-size: 7mm;
  --background-line-char:~;
  --background-bottom-line-char:~;
  --top-margin: 23mm;
  --right-margin: 13mm;
  --left-margin: 12mm;
  --top-border: 1mm double var(--line-color);
}

.osztaly4 .pageA5 {
  --number-of-rows: 24;
  --number-of-columns: 33;
}

.osztaly4 .pageA4 {
  --number-of-rows: 37;
  --number-of-columns: 47;
}

.osztaly4 .pageA4-landscape {
  --number-of-rows: 24;
  --number-of-columns: 66;
}

/* -------------------- GYL-1 -------------------- */

.gyl1 {
  --font-size: 23mm;
  --background-line-char: ;
  --background-bottom-line-char:_;
  --top-margin: 14mm;
  --right-margin: 13mm;
  --left-margin: 12mm;
}

.gyl1 .pageA5 {
  --number-of-rows: 8;
  --number-of-columns: 11;
}

.gyl1 .pageA4 {
  --number-of-rows: 11;
  --number-of-columns: 15;
}

.gyl1 .pageA4-landscape {
  --number-of-rows: 8;
  --number-of-columns: 21;
}

/* -------------------- GYL-2 -------------------- */

.gyl2 {
  --font-size: 18mm;
  --background-line-char: ;
  --background-bottom-line-char:_;
  --top-margin: 15mm;
  --right-margin: 13mm;
  --left-margin: 12mm;
}

.gyl2 .pageA5 {
  --number-of-rows: 10;
  --number-of-columns: 14;
}

.gyl2 .pageA4 {
  --number-of-rows: 14;
  --number-of-columns: 19;
}

.gyl2 .pageA4-landscape {
  --number-of-rows: 10;
  --number-of-columns: 26;
}

/* -------------------- A5 -------------------- */

.pageA5 {
  --page-width: calc(var(--a5-width) - 5mm);
  --page-height: calc(var(--a5-height) - 5mm);
  --side-extra-margin: 1mm;
  --top-accent-extra: calc(var(--font-size) / 3);

  flex-shrink: 0;

  position: relative;
  overflow: hidden;
  /* border: 1px solid grey; */
  width: var(--page-width);
  height: var(--page-height);
}

/* -------------------- A4 portrait -------------------- */

.pageA4 {
  --page-width: calc(var(--a4-width) - 5mm);
  --page-height: calc(var(--a4-height) - 5mm);
  --side-extra-margin: 1mm;
  --top-accent-extra: calc(var(--font-size) / 3);

  flex-shrink: 0;

  position: relative;
  overflow: hidden;
  /* border: 1px solid grey; */
  width: var(--page-width);
  height: var(--page-height);
}

#page2.pageA4 {
  display: none;
}

/* -------------------- A4 landscape -------------------- */

.pageA4-landscape {
  --page-width: calc(var(--a4-height) - 5mm);
  --page-height: calc(var(--a4-width) - 5mm);
  --side-extra-margin: 1mm;
  --top-accent-extra: calc(var(--font-size) / 3);

  flex-shrink: 0;

  position: relative;
  overflow: hidden;
  /* border: 1px solid grey; */
  width: var(--page-width);
  height: var(--page-height);
}

#page2.pageA4-landscape {
  display: none;
}

/* -------------------------------------------------- */

#page1 {
  margin-right: 2mm;
}

#page2 {
  margin-left: 2mm;
}

.foreground {
  /* text is inside the margins */
  width: calc(var(--page-width) - var(--left-margin) - var(--right-margin) - calc(var(--side-extra-margin) * 2));

  /* extra 1mm inside the vertical margin line */
  margin-left: var(--left-margin);
  padding-left: var(--side-extra-margin);
  margin-right: var(--right-margin);
  padding-right: var(--side-extra-margin);
  color: var(--text-color);
  font-family: Gyongyiras_egyedul;
}

.background {
  /* the background lines go from side to side */
  width: var(--page-width);

  color: var(--line-color);
  font-family: Gyongyiras_egyedul_v;
}

.backgroundOuter, .sideMargins {
  z-index: -1;
}

.outer {
  position: absolute;

  /* 4 mm extra space for accents on capital letters in the top row */
  padding-top: calc(var(--top-margin) - var(--top-accent-extra));
}

.inner {
  height: calc(var(--page-height) - var(--top-margin));
  padding-top: var(--top-accent-extra); /* accents on capital letters are above the box of the font */
  border-top: var(--top-border);

  overflow: hidden;

  font-size: var(--font-size);
  white-space: pre;
}

.sideMargins {
  position: absolute;
  width: calc(var(--page-width) - var(--left-margin) - var(--right-margin));
  height: 100%;
  margin-left: var(--left-margin);
  margin-right: var(--right-margin);
  border-left: 1px solid var(--line-color);
  border-right: 1px solid var(--line-color);
}

.red {
  color: red;
}

@font-face {font-family: Gyongyiras_egyedul_v;src: url(Gyongyiras_egyedul_v.otf);}
@font-face {font-family: Gyongyiras_elol_v;src: url(Gyongyiras_elol_v.otf);}
@font-face {font-family: Gyongyiras_fent_vege_v;src: url(Gyongyiras_fent_vege_v.otf);}
@font-face {font-family: Gyongyiras_fent_v;src: url(Gyongyiras_fent_v.otf);}
@font-face {font-family: Gyongyiras_kozel_vege_v;src: url(Gyongyiras_kozel_vege_v.otf);}
@font-face {font-family: Gyongyiras_kozel_v;src: url(Gyongyiras_kozel_v.otf);}
@font-face {font-family: Gyongyiras_lent_vege_v;src: url(Gyongyiras_lent_vege_v.otf);}
@font-face {font-family: Gyongyiras_lent_v;src: url(Gyongyiras_lent_v.otf);}
@font-face {font-family: Gyongyiras_tavol_vege_v;src: url(Gyongyiras_tavol_vege_v.otf);}
@font-face {font-family: Gyongyiras_tavol_v;src: url(Gyongyiras_tavol_v.otf);}

@font-face {font-family: Gyongyiras_egyedul;src: url(Gyongyiras_egyedul.otf);}
@font-face {font-family: Gyongyiras_elol;src: url(Gyongyiras_elol.otf);}
@font-face {font-family: Gyongyiras_fent_vege;src: url(Gyongyiras_fent_vege.otf);}
@font-face {font-family: Gyongyiras_fent;src: url(Gyongyiras_fent.otf);}
@font-face {font-family: Gyongyiras_kozel_vege;src: url(Gyongyiras_kozel_vege.otf);}
@font-face {font-family: Gyongyiras_kozel;src: url(Gyongyiras_kozel.otf);}
@font-face {font-family: Gyongyiras_lent_vege;src: url(Gyongyiras_lent_vege.otf);}
@font-face {font-family: Gyongyiras_lent;src: url(Gyongyiras_lent.otf);}
@font-face {font-family: Gyongyiras_tavol_vege;src: url(Gyongyiras_tavol_vege.otf);}
@font-face {font-family: Gyongyiras_tavol;src: url(Gyongyiras_tavol.otf);}

.egy {font-family: Gyongyiras_egyedul;}
.e {font-family: Gyongyiras_elol;}
.fv {font-family: Gyongyiras_fent_vege;}
.f {font-family: Gyongyiras_fent;}
.kv {font-family: Gyongyiras_kozel_vege;}
.k {font-family: Gyongyiras_kozel;}
.lv {font-family: Gyongyiras_lent_vege;}
.l {font-family: Gyongyiras_lent;}
.t {font-family: Gyongyiras_tavol;}
.tv {font-family: Gyongyiras_tavol_vege;}

/* -------------------- Tooltips -------------------- */
/* Based on: https://www.w3schools.com/howto/howto_css_tooltip.asp */

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #444;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 160px;
  top: 150%;
  left: 70%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

  opacity: 0;
  transition: opacity 1s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.95;
}

/* Top arrow for the tooltip */
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #444 transparent;
}
